<h1>Welcome</h1>

<p>Welcome to the MUGEN database. Here you can find links to all sorts of characters.
Hope you can find what you're looking for.</p>


<%= link_to 'Characters', '/characters' %>
<%= link_to 'Stages', '/stages' %>
