<br>
<center>
    <h3>Welcome to the MUGEN database. Here you can find links to all sorts of characters. Links to stages, screenpacks, and more will be included soon!
    Hope you can find what you're looking for.</h3>
</center>