All characters in <%= @origin.name %>
<% @fighters.each do |fighter| %>
    <p> <%= link_to fighter.name, "/characters/#{params[:id]}/#{fighter.id}" %></p>
<% end %>

<% if session[:user_id] %>
    <%= link_to 'Add a new fighter', "/characters/#{params[:id]}/new" %>
<% end %>