characters 

<% @fighters.each do |fighter| %>
    <p> <%= link_to fighter.name, "/characters/#{params[:id]}/#{fighter.id}" %></p>
<% end %>

<%= link_to 'Add a new fighter', "/characters/#{params[:id]}/new" %>